@import './base.css';
@import '../styles/variables.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#app {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
